.swiper-button-prev{
   right: 45px;
   left: initial;
}
.swiper-button-prev::after, .swiper-button-next::after{
    font-size: 30px;
}
.swiper-button-next{
    right: 10px;
    left: initial;
 }
.swiper-button-prev, .swiper-button-next{
    font-size: 10px;
    bottom:15px;
    top:initial;
    margin-top: 0;
    size: 10px;
}
   