.Footer{
    height: 350px;
    width: 100%;
    
    background-color: #1C1E53;
    box-sizing: border-box;
}
.MainRow{ align-items: end;
    width: 100%;
    height: 350px;
    gap: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;}
.RightColumn svg{
    cursor: pointer;
    color: white;
    height: 20px;
  
}
.row{display: flex;
    gap: 20px;
}
.RightColumn p{
    opacity: 0.8;
   color: #F4F6FC;
}
.RightColumn{height: 350px;
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.LeftColumn .ContactRows{
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 40px;
    flex-direction: row;
    background-color: #FCD980;
}
.LeftColumn {display: flex;
    gap: 15px;
    flex-direction: column;
}
.LeftColumn p{
    color: white;
}
.LeftColumn a{
   width: 100% !important;
}
.ContactRows{
    font-size: 15px;
    margin-top: 55px;
}
.RightColumn h3{
    color: #FFF;
font-family: Poppins;
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: 64px; 
}
@media screen and  (max-width:1200px){
    .RightColumn h3{      
    font-size: 30px;
    line-height: 64px; 
    }
    .LeftColumn .ContactRows{
        gap: 20px;
        font-size: 12px;
        padding: 0 10px;
        align-items:initial ;

    }
}

@media screen and (max-width:993px) {
    .RightColumn{
        display: none;
     }
     .LeftColumn .ContactRows{
         
         font-size: 17px;
         display: flex;
         align-items: space-between;
      }
      .MainRow{
         align-items: center;
       }
   
}


 @media screen and (max-width:570px){
   
    .LeftColumn .ContactRows{      
        gap: 20px;
        width: 90%;
        padding: 0 10px;
        margin: 50px auto 0px auto;
    }
            }